<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>shootdown home</title>
  <link rel="stylesheet" href="assets/css/style.css">
  <script src="/socket.io/socket.io.js"></script>
</head>
<body>
  <div class="main-container">
    <div class="action-area">
      <button id="btnMy" class="danger">Shutdown My Computer</button>
      <button  class="command-btn" data-command="netstat">NetStat</button>
      <button  class="command-btn" data-command="ifconfig">Ifconfig</button>
      <button  class="command-btn" data-command="net:view">Show Network</button>
      <button id="clearOutput">Clear</button>
      <!-- <button id="btnRemote">Shutdown Remote Computer</button> -->
    </div>
    <pre id="webOutput">

    </pre>

  </div>
  <script src="assets/js/app.js"></script>
</body>
</html>
